[2018-04-03 20:12] dewyman opened #1 "Developing class structures that make sense for genes, transcripts, and exons"
In designing Python classes for genes, transcripts, and exons, it is really important that there be enough complexity to allow for flexible handling of different situations, but I don't want things to become needlessly complicated.

This need is illustrated well by the following example.
![gene_transcript_exon_example-2](https://user-images.githubusercontent.com/8904542/38275026-69d52c24-3745-11e8

[2018-04-03 22:48] dewyman opened #2 "Match candidate transcripts to gene(s)"
### High-level
If the candidate transcript overlaps with an annotated gene, then we consider it a transcript of that gene. We could potentially allow more than one match at first and then select the one that is "better". In addition, we may want to think about how much overlap should count.

### Details: How will I assign transcripts to genes in practice?
One option would be to use Bedtools inters

[2018-04-04 22:24] dewyman opened #3 "Process SAM file of transcripts"
I will need to read in transcripts from SAM files and create representations of them that allow for comparisons against the annotation.

I think it would make sense for the transcripts to belong to the same class as the annotation-derived transcripts. Or at least be a subclass of them.

### Tasks
- [x] Superficial SAM reading code that opens the file and goes line by line
- [x] Write and test a fu

[2018-04-04 22:45] dewyman opened #4 "Write a GeneTree class function: given an interval, get the genes that overlap with it"

[2018-04-04 22:47] #4 closed, assigned to dewyman

[2018-04-05 19:51] dewyman opened #5 "Develop the Transcript class"
## High Level
The Transcript class needs to
* Allow fast comparison of transcripts on the level of "are they identical or not"
* Be flexible- some users may care about differences at the 5' end and others may not (for example)
* Be able to handle data from the GTF annotation or from the SAM file so that transcripts from these two sources can be readily compared

See #1 for additional consideration

[2018-04-05 21:24] dewyman opened #6 "What should I do about GTF fields beyond genes, transcripts, and exons?"
In the course of working on GTF processing for the transcripts (#5), I found lines in the GTF file that went beyond the major three groups I work with (genes, transcripts, and exons). Here are some examples:
[code]
[code]
[code]

The simplest option of course is to just ignore them. But will I be missing important distinctions if I do? The UTR components may be particularly important.

[2018-04-05 21:33] dewyman opened #7 "Develop the Gene class"
### Tasks
- [x] Write basic infrastructure of the class, i.e. documentation, initialization, print
- [x] Choose how to store transcripts belonging to the gene
For now, each gene has a dictionary of transcript ids mapped to transcript objects.

[2018-04-05 22:29] dewyman opened #8 "GENCODE has occasional gene duplicates. How should this be handled?"
When I added a check in the GeneTree add_gene class function to look for existing genes with the input gene_name before adding a new gene, I unexpectedly got a hit:
[code]

I decided to look for this gene in the annotation to see what might be going on

[code]
Sure enough, these genes share the same name. They have different gene_id fields though. This means that one way around the problem is to u

[2018-04-05 23:11] #8 closed, assigned to dewyman

[2018-04-05 23:20] #2 closed, assigned to dewyman

[2018-04-08 00:20] #7 closed, assigned to dewyman

[2018-04-09 18:52] dewyman opened #9 "Write a test for the compute_transcript_end function"
This function finds the end position of a SAM transcript with respect to the reference genome. To write a test, I will identify some SAM examples and look at them in the UCSC genome browser so that I can record the correct end positions. Then, my test will run the function on these examples and check the results against the correct answers.

[2018-04-09 20:13] dewyman opened #10 "Interesting set of GM12878 transcripts for exon comparison/testing"
While selecting test transcripts for the compute_transcript_end function, I stumbled upon this pair in GM12878_chr1_clean.sam: c30124/f1p15/2713 and c2986/f14p15/2748. It's interesting to me because the internal exon boundaries match, but there is a difference at the 3' end. The 5' ends are the same.

![genome_browser_example](https://user-images.githubusercontent.com/8904542/38520511-e208864e-3bf

[2018-04-09 20:33] #9 closed, assigned to dewyman

[2018-04-10 00:06] #5 closed, assigned to dewyman

[2018-04-10 00:41] #3 closed, assigned to dewyman

[2018-04-10 00:44] #1 closed, assigned to dewyman

[2018-04-10 00:45] dewyman opened #11 "Write function to get the best gene match for an input SAM transcript"
It seems to be fairly common for transcripts to overlap more than one gene, but I suspect that the genes in question are not protein-coding. I may run TALON on a gencode file that excludes non-poly-A transcripts, but even so, it may be better to write a function that takes into account the possibility of multiple gene overlaps (with some pretty bad matches). My concern here is mostly for transcrip

[2018-04-10 20:44] #11 closed, assigned to dewyman

[2018-04-10 20:46] dewyman opened #12 "Which types of genes should we allow in the GENCODE GTF file?"
Should we be filtering out things like snoRNAs, miRNA, etc. At first, my plan was to stick to protein coding genes and lncRNAs, but then I visited the GENCODE page and found out that there is an absurd number of biotypes.

https://www.gencodegenes.org/gencode_biotypes.html

[2018-04-10 20:52] dewyman opened #13 "Write a function to check whether a sam_transcript matches any transcripts on file for a gene"

[2018-04-10 21:31] dewyman opened #14 "Exact matches to FULL exon string are extremely rare"
I decided to use the MatchAnnot output for PB14 to check how many sam_transcripts can be expected to exactly match an annotated transcript exon_string (including the 3' and 5' ends).

[code]

I only found two transcripts in the output:
[code]
I was lucky- the first one is on chromosome 1, so it should be in my testing set. I think the transcript cluster ID is different because cluster was re-run a

[2018-04-11 22:52] dewyman opened #15 "Comparing TALON prototype results to Tofu and MatchAnnot"
Tofu + STAR + MatchAnnot commands:
[code]

TALON
[code]
Tofu + STAR + MatchAnnot Results:
* Total transcripts at MatchAnnot stage: 1526
* Number of transcripts assigned a score of 5: 684
    * This means that the intron boundaries matched internally, but the leading or trailing 5'/3' ends may have varied
* Number of transcripts with perfect 3' and 5' match: 0
* Number of transcripts with perfect 3

[2018-04-12 23:24] dewyman opened #16 "Need to return both of the best gene matches for a transcript if the distances are equal [FIXED]"
Discovered this problem while working with #15

[2018-04-12 23:45] #16 closed, assigned to dewyman

[2018-04-13 16:13] dewyman opened #17 "Handle case where query transcript only overlaps a miRNA gene but clearly does not belong to it"
Case observed in #15. This is a pathological case for MatchAnnot when the transcript in question has only one exon- the transcript erroneously gets assigned to the miRNA gene.

At present, TALON and MatchAnnot both assign c14773/f1p0/3486 to gene MIR4425, but TALON does not assign it a transcript match. I need to change this behavior so that c14773/f1p0/3486 gets assigned to a novel gene. This iss

[2018-04-13 16:23] dewyman opened #18 "Handle case where longer gene covers more of transcript query, but shorter gene is a closer match"
While working on #15, I came across the following case c18234/f1p0/3056 (red bar). Visually, we can see that the transcript matches the NAP1L4P1 gene, and indeed, that is how MatchAnnot assigns it. However, TALON assigns the transcript to the CD58 gene, which appears incorrect. This may be a pretty insidious problem to fix because of how I do my gene assignments. Maybe I need to move to a more dir

[2018-04-13 17:11] dewyman opened #19 "Unexpected case: Transcript appears to match gene, but is on the wrong strand"
I found this case while working on #15. MatchAnnot assigns transcript c33225/f1p0/3407 to gene PHTF1, while TALON does not assign it to a gene at all. The reason for this discrepancy is that TALON requires the transcript and gene strand to match, while MatchAnnot does not. That's all well and good, but in this particular case, the exons line up really well, so I'm surprised that we sequenced this,

[2018-04-16 18:20] dewyman opened #20 "Comparing query transcripts to annotation on a per-exon basis instead of per-transcript"
In the course of comparing my results to MatchAnnot, I have become aware that it is not enough to assign the query to the best gene match and then do transcript comparisons from there. I need to be directly comparing exons. I think it is appropriate to create a new branch for this: exon-wise-comparison.

- [x] Create an exon tree data structure instead of a gene structure.
- [x] Create an exon cla

[2018-04-16 18:24] #18 closed, assigned to dewyman

[2018-04-16 18:24] #17 closed, assigned to dewyman

[2018-04-16 18:25] #19 closed, assigned to dewyman

[2018-04-16 18:25] #13 closed, assigned to dewyman

[2018-04-16 22:47] dewyman opened #21 "How to choose best exon match for query when tot_diffs are the same"
I haven't seen this case happen in my data yet, but I bet it will at some point so I should be prepared to deal with it.

[2018-04-16 23:13] dewyman opened #22 "Making transcript identity assignments with adaptive exon searching"
This is a fairly difficult problem. The first version I implemented was greedy, seeking to choose the most closely matched exon for every query exon in the sam transcript. Here is an example that illustrates why this doesn't work.

Transcript c33255/f1p0/3238: The exon coordinates are as follows:
827670-827775
829003-829104
847654-847806
849484-849602
851927-852110
852671-852766
853391-853424
8534

[2018-04-17 03:54] dewyman opened #23 "Novel Case: Handling sub-transcript case where all of the query exons match a transcript, but query has fewer exons"
Case: c13526/f1p3/2925 (INPP5B)
Because the query transcript is shorter than the annotated ones, it is impossible to tell which isoform it came from. But more importantly than that, we need to make sure that we don't label this as (completely) known.
![c13526-f1p3-2925](https://user-images.githubusercontent.com/8904542/38847802-4ee994d6-41b8-11e8-86fc-6c3636db59bb.png)

[2018-04-17 04:07] dewyman opened #24 "FIXED: Novel Case: All of query exons are accounted for in the matched transcript, but the match contains additional exons (not the sub-transcript case)"
Related to #23
c13856/f1p1/3056: In this case, TALON returns transcript match set(['ENST00000372597.5', 'ENST00000372596.5']) because it can't tell which of these transcripts is a better match. If we look closely, we can see that ENST00000372597.5 is better because ENST00000372596.5 contains all of the query exons, BUT it also contains one extra exon that is not in the query. Update: After looking

[2018-04-17 06:37] #21 closed, assigned to dewyman

[2018-04-17 06:46] #22 closed, assigned to dewyman

[2018-04-17 18:39] dewyman opened #25 "Strand bug affecting application of 3' and 5' difference cutoffs"
I was recovering only half of expected "score 5" matches because I didn't consider that for negative strand transcripts, the first exon processed is really its last exon. Need to handle this gracefully

[2018-04-17 19:14] #25 closed, assigned to dewyman

[2018-04-17 21:10] dewyman opened #26 "Novel cases: All query exons match a transcript, but the annotated transcript contains additional exons"
This case is really two cases:
1) The exon matches are contiguous #23
2) The exon matches are not contiguous #24

[2018-04-18 07:26] dewyman opened #27 "GENCODE exon is zero basepairs long"
ENSE00003758511.1

[2018-04-18 23:14] dewyman opened #28 "Transcript that maps well at first, but has a large 3' discrepancy"
When I started running TALON on the PB36 ROIs (pre-TranscriptClean), I found the following transcript because it was showing up as a known match with a 3' difference of -14894

m171202_193234_42198_c101417902550000001823303602281843_s1_p0/124708/718_57_CCS
![718_57_ccs](https://user-images.githubusercontent.com/8904542/38962732-7f11c270-4323-11e8-9480-af6b025eecca.png)

Also this: m171202_130838_4

[2018-04-27 18:53] dewyman opened #29 "Files"
[ENCODE Spring Retreat, April 20, 2018 (TALON).pdf](https://github.com/dewyman/TALON/files/1956289/ENCODE.Spring.Retreat.April.20.2018.TALON.pdf)

[2018-04-30 17:12] #28 closed, assigned to dewyman

[2018-04-30 17:15] #27 closed, assigned to dewyman

[2018-04-30 17:17] #24 closed, assigned to dewyman

[2018-04-30 17:17] #20 closed, assigned to dewyman

[2018-04-30 17:17] #14 closed, assigned to nobody

[2018-04-30 17:21] dewyman opened #30 "Build TALON annotation database"
In order to track novel transcripts from run to run, it is crucial to maintain an external structure to store and update the annotations.

### TODO
- [x] Take existing GTF parsing function from main TALON script and adapt it for creating a new annotation tracker instead (outside of main TALON script). Add filtering to remove irrelevant annotations.
- [x] Add dataset-tracking table to database and

[2018-05-07 17:51] dewyman opened #31 "Storing exon coordinates in Transcript object vs exon objects"
Right now, I just store the start and end positions of the exons in the transcript object. It may make more sense in the future to change it to storing the exon objects themselves. The issue will be the SAM exons, which don't graduate to objects until the query stage.

[2018-05-07 19:57] dewyman opened #32 "Clean up GTF parsing code by delegating sanity checks to a separate function"

[2018-05-18 22:20] #31 closed, assigned to dewyman

[2018-05-23 21:24] dewyman opened #33 "build_annotation crashes on pseudoautosomal region"
Because I added exon validity checks, the build_annotation script now crashes on the pseudoautosomal region because there are two exons on different chromosomes that have the same gencode exon ID (even though their transcript and gene IDs are different). The ID is ENSE00001702291.1. Because of this, I am moving over to using chrome_start_end as an ID instead, with the gencode ID stored as a name i

[2018-05-23 22:08] #33 closed, assigned to dewyman

[2018-05-25 17:01] dewyman opened #34 "Move gene length check to annotation building step instead of TALON proper"

[2018-05-25 17:05] dewyman opened #35 "Change GTF processing to allow exons that don't belong to a gene or transcript"
Ali and I agreed that this is a good feature to have, but it does make filtering genes more complicated since a lot of these exons are less than 200 bp. And spike-ins fall into this category.

[2018-05-29 23:56] #35 closed, assigned to dewyman

[2018-05-29 23:57] #34 closed, assigned to dewyman

[2018-06-11 18:28] dewyman opened #36 "Updating the annotation during TALON run"
At the end of a TALON run, it is necessary to update the TALON SQLite database both to add novel genes/transcripts/exons, but also to update existing entries when new information comes to light.

- [x] What if we find a novel transcript for a known gene that starts further upstream/ends further downstream?
    - Does not matter since genes are not explicitly attached to a particular set of locatio

[2018-08-07 18:27] dewyman opened #37 "Queries we might like to run on TALON database"
* What is the most commonly utilized 3' end for a given gene? What about 3' exon? Is this different for different datasets?
* How many transcripts have 5' CAGE support?
* How many genes or isoforms were shared across two experiments?
* How often is a particular exon of a gene utilized in its transcripts?

Further downstream,
* Given a gene and a cell type, what does the most likely transcript look

[2018-10-02 20:44] #32 closed, assigned to dewyman

[2018-10-02 20:45] #10 closed, assigned to nobody

[2018-10-02 20:45] #12 closed, assigned to dewyman

[2018-10-02 20:46] #6 closed, assigned to dewyman

[2018-10-02 20:46] #23 closed, assigned to dewyman

[2018-10-02 20:46] #26 closed, assigned to dewyman

[2018-10-02 20:49] #36 closed, assigned to dewyman

[2018-11-05 18:28] #37 closed, assigned to dewyman

[2018-11-05 18:29] #29 closed, assigned to nobody

[2018-11-07 14:45] #30 closed, assigned to dewyman

[2018-11-07 14:45] #15 closed, assigned to dewyman

[2019-07-02 10:37] callumparr opened #38 "failed at test unit and integration"
I am having issues getting python3.7 installed and currently version is 3.6.0 for python3.

make tests works with some warning,

but then make unit and make integration fail for most tests

I attach output.

Is this to be expected without using python3.7?

In any case I can get talon scripts to run and output in same environment
[error_output.txt](https://github.com/dewyman/TALON/files/3349609/err

[2019-07-02 10:59] callumparr opened #39 "some guidance on running; cannot generate novel annotations"
I was confused as to how to move through talon scripts.

I downsampled my reads to 10e4, then mapped to hg38 using minimap2 with --MD flag included to generated > aln.sam

I then used TranscriptClean but without -v or -j flags to error correct and output clean.sam

Next I used this to initialize a talon db using the initialize script feeding in gencode.v29.annotation.gtf and --g hg38_build --a hg3

[2019-07-02 16:49] callumparr opened #40 "How do I use the create talon report R scrip"
Sorry for all the questions.

I would like to use the R script to generate plots from my db generated through talon scripts.

I am not so familiar and I do not know how to input my files.

[2019-07-02 16:59] dewyman commented on #38
Hi Callum,
I set up a Conda environment with Python 3.6 and all of the tests still passed on my machine. I had my colleague run the testing suite as well, and she had similar issues to yours, so I think the problem might be as simple as missing test data files from the repo, or maybe an errant path. I'll look into it.

[2019-07-02 17:02] callumparr commented on #38
Thank you.

I got the talon.py working in python 3.6, I can see some novel annotations from TALON.

[2019-07-02 17:03] dewyman commented on #39
Hi Callum,
Thank you for your question. Have you checked the transcript novelty column? Novel genes are rather rare in the human data so I would not be too surprised not to have a novel gene in 10e4 reads.

[2019-07-02 17:07] callumparr commented on #39
Sorry I was stupid and I scrolled all the way through the file I can see novel TALON annotations. Does the script some sort of sorting of the results? Based on annotations hits rather than the order of the reads in the sam file.

Perhaps I see too many. I did run it through TranscriptClean but I ignored the splice site correction so it probably is better to do this.

[2019-07-02 17:12] #39 closed

[2019-07-02 17:18] dewyman commented on #40
No problem! I'm happy to help :) Here is how to run the report script. It generates the following figures in PNG format, and also prints out some metrics to the terminal:
- Transcript TPM distribution
- Gene TPM distribution.
- Transcript length distribution by annotation status.
- Distribution of number of isoforms per gene.
- Exons per read by annotation status.

We have additional analysis scri

[2019-07-02 17:28] dewyman commented on #39
The abundance file does tend to list the known annotations first.

I would recommend looking at how many transcripts you get in each novelty category, and going from there. Without filtering the novel transcripts for reproducibility across multiple datasets, you might reasonably expect to get a higher rate of novelty in the output. If these are mainly incomplete splice matches (ISM) and novel in c

[2019-07-02 20:55] dewyman commented on #39
Note: This script will plot the number of distinct transcript models detected for each novelty category, and the number of reads that were annotated to each novelty category:
https://github.com/dewyman/TALON-paper-2019/blob/master/analysis_scripts/plot_novelty_categories_from_abd_table.R

Here are instructions to run it:
[code]

[2019-07-21 23:38] hasacat opened #41 "Running slowly on PBS/Torque"
I was wondering if there is a faster way to run this on large SAM files (>30gb) - will there be a parallel version of TALON?

[2019-07-29 16:17] dewyman commented on #41
It is somewhat difficult to parallelize the core functionality of TALON since the inputs are not independent of each other (i.e. each new transcript being processed needs to be compared to all previous transcripts), but I will certainly make an effort to do so in the future. Runtime is an important consideration.

[2019-07-31 00:24] hasacat commented on #41
Yes, this makes sense - thanks. Could some level of parallel functionality be achieved by assuming that new transcripts only need to be compared to previous transcripts of the same chromosome (i.e. transcripts on different chromosomes are independent)? I've been splitting up the SAM file into different chromosomes and running TALON/TranscriptClean on each one independently to reduce the runtime, b

[2019-07-31 16:53] dewyman commented on #41
Yes, that is something we have though about doing in the past- we just haven't had the time/bandwidth to actually implement it yet.

[2019-08-29 11:17] JasperBoom opened #42 "Missing "exon" table in TALON database"
I have been trying to figure out the structure of the TALON database created by "initialize_talon_database.py" to fully understand how the program works. However, I have run into a missing table.
Within the exon_annotation table a foreign key is created referring to a "exon" table, it seems however this table is never created, is this foreign key from a previous TALON version?
[code]

[2019-08-29 17:09] dewyman commented on #42
I think you are correct that the 'exon' table mentioned there may be an accidental holdover from a previous version- the database has been through a lot of changes in the last year :) Instead, the IDs  in the 'exon_annotations' table should correspond to IDs in the 'edge' table. Thank you for pointing this out.

[2019-08-29 17:15] dewyman commented on #42
Also, if you're interested in visualizing the database and running queries on it in a more interactive way, I've used this tool before https://sqlitebrowser.org

[2019-09-22 05:15] dorie8 opened #45 "SAM file lacks an MD tag"
Hi, I tried to use TALON to process the alignment file I got from minimap2. It's a sam file.
`python talon.py \
--f /private/.../TALON/hg38mini1BD.csv \
--db /private/.../TALON/hg38v27_talon.db \
--build hg38v27
--o /private/.../TALON/hg38tal1BD`

The csv file has the alignment file name. however when I ran it, it gave me
[code]

I am not sure what is happening here...

[2019-09-22 06:27] dewyman commented on #45
Hello,
Before annotating the transcripts, TALON filters the provided SAM reads by computing the coverage and identity of each alignment, then comparing them to a minimum threshold (tunable in the options). To do this, it requires the SAM reads to have an MD tag, which records deletions and mismatches of the sequence relative to the reference genome. If you add the option --MD to your minimap2 comm

[2019-09-22 19:44] dewyman commented on #45
Confirmed- I performed a Minimap2 run with the --MD option enabled, and the MD tags are present in the output formatted the way TALON expects!

[2019-09-22 23:53] dorie8 commented on #45
Got it! I just checked that minimap2 does have the --MD option. Thank you for the quick response it was really helpful!

[2019-10-16 03:43] #40 closed

[2019-10-16 03:43] #38 closed

[2019-10-25 20:34] fairliereese commented on #41
Hi, in case you were still interested, @dewyman recently parallelized TALON and it is now blazing fast!

[2019-10-25 20:34] #41 closed

[2019-10-25 22:27] hasacat commented on #41
awesome! great to hear 😃

[2019-11-07 14:36] JasperBoom opened #46 "Database counter for 'dataset' does not match the number of entries in the table."
Hey,

I am testing out the new TALON version 4.4 with the same testset I used for 4.2 (which passes).
However, I am encountering the message in the title.
[code]
I checked the database using [DB Browser for SQLite](https://sqlitebrowser.org/) to see if the "dataset" table has 2 dataset entries, but it contains just one. My config file also contains just one dataset entry. Any idea how these number

[2019-11-07 14:44] JasperBoom commented on #46
Sorry, already found the mistake to be on my end, excuse me for filling your issue page.

[2019-11-07 14:44] #46 closed

[2019-11-13 23:52] ashokpatowary opened #47 "IndexError"
Hi,

I was trying to run talon on my minion data. But I am encountering index error. Bellow is the error. Can you please look into it.

Thanks

[ 2019-11-13 23:44:23 ] Started TALON run
Traceback (most recent call last):
  File "/usr/local/bin/talon", line 8, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.7/site-packages/talon/talon.py", line 2346, in main
    sam_files, dset_meta

[2019-11-13 23:54] dewyman commented on #47
Hi,
Can you show me what your config file looks like? This error suggests to me that you may not have the correct number of comma-delimited fields in it.
Best,
Dana

[2019-11-13 23:57] ashokpatowary commented on #47
Hi.

Here is my config file looks like

AllRNA,HFB1,MinION,/Users/Ashok/Desktop/Hoffman/ashokpat/MinION/11042019/HFB.sam

[2019-11-13 23:59] dewyman commented on #47
Ok, that looks reasonable. But is there by any chance a blank line underneath this entry? That has happened to my labmate before.

[2019-11-14 00:01] ashokpatowary commented on #47
Yes. There was a blank line underneath. And I delete that line. Its working perfect now. Thanks

[2019-11-14 00:01] dewyman commented on #47
Glad to hear it! Let me know if you have more questions :)

[2019-11-15 17:30] ashokpatowary commented on #47
Hi @dewyman,

It runs fine but while generating the read_annot.tvs file I have the following error. Can you look into it?

[ 2019-11-15 04:25:53 ] All jobs complete. Starting database update.
[ 2019-11-15 04:29:02 ] Validating database........
[ 2019-11-15 04:29:03 ] Database update complete.
[ 2019-11-15 04:29:03 ] Creating read-wise annotation file.
Traceback (most recent call last):
  File "/us

[2019-11-15 18:00] dewyman commented on #47
Hi,
It looks like the script that generates the output file is having trouble finding the novelty status of the gene with ID '46490'. This is something I should be able to patch for you relatively quickly, but I'd like to understand why it's happening to solve the underlying issue. Would you mind sending me the TALON database that was the output of your run?

[2019-11-15 18:04] ashokpatowary commented on #47
Sure. I am sending it to you.

[2019-11-15 19:14] dewyman commented on #47
Ok I was able to figure out what is going on. The gene with TALON id '46490' is ENSG00000272675.1, which has a 'NOVEL' gene_status designation in the GENCODE GTF you provided. This confused the TALON read_annot utility because it was expecting 3 only different types of genes: Known (by virtue of the annotation), antisense novel, or intergenic novel (these latter two cases are called by TALON).

On

[2019-11-15 19:20] ashokpatowary commented on #47
Yah Sure. That should be fine.

[2019-11-15 19:22] ashokpatowary commented on #47
Yah Sure. That should be fine. I am using Gencode v32

[2019-11-15 19:32] dewyman commented on #47
Ok, I have implemented the patch now, so feel free to clone from the master branch and try it out. You do not need to redo your TALON run since all the jobs/database updates ran fine- all you need to do is run the talon_fetch_reads utility to get your output file:

[code]

Let me know how it goes!

[2019-11-15 21:37] ashokpatowary commented on #47
Thanks. The output file generated without any error.

[2019-11-15 21:37] #47 closed

[2019-12-10 21:17] gm-nyc opened #48 "Exon-based comparison tool"
Hi, I noticed that there was mention of an exon-based comparison tool but cannot find that option in the talon commands. I am trying to quantify differences in 3' and 5' exon boundaries compared with known isoforms and this would be extremely helpful. Thank you!

[2019-12-12 19:29] dewyman commented on #48
Hi! So to clarify, are you attempting to look at cases where you have novel splice junctions in a known gene, and then see how far they are away from known junctions? I don't think we have an existing formal utility that outputs the splice junctions, but it wouldn't be too difficult to make one!

[2019-12-12 20:25] gm-nyc commented on #48
Yes! I am trying to quantify the distance from the reference splice junctions to the novel junctions I'm seeing in my samples, which have splicing aberrations. The mis-splicing can be transcriptome-wide so I am trying to generate an exon-based matrix for my cells. Does that make sense?

[2019-12-12 23:19] dewyman commented on #48
Yes, absolutely! My colleague and I have put together a utility to extract splice junctions/exon positions as well as the transcripts that contain them. I'm going to run some tests on it and finalize the details, and then once I'm comfortable all is going as intended, I'll let you know so you can try it out!

[2019-12-19 10:01] iam2b commented on #48
Hi, I am very happy to find this tool for my analysis. I tried first run today and found a problem. The error message was "SAM transcript xxx lacks an MD tag". My samples were DirectRNA Nanopore-seq mapped by Minimap2.
By the way, will you develop a tool like MISO or rMATs to help detect the change of alternative splicing?

[2019-12-19 19:09] dewyman commented on #48
Hi iam2b,
You should be able to fix this issue by running Minimap2 with the --MD flag (see issue #45). Currently we are not in the business of developing our own downstream alt splicing tool, but you might consider trying this one https://bioconductor.org/packages/release/bioc/html/IsoformSwitchAnalyzeR.html. The developer has added support for TALON abundance files.

[2019-12-24 04:41] iam2b commented on #48
Thank you very much. I have sloved this problem.
Merry Chrismas!

[2020-01-06 20:35] gm-nyc commented on #48
Hi dewyman,

I wanted to clarify my question a little. The reason I was asking for the distance from the canonical splice junction is that I am trying to identify (and quantify) alternate 3' and 5' splice site usage and thought that the positional information for each junction would be useful since it could be compared with the reference. Thanks for your help and any thoughts/suggestions would be

[2020-01-06 23:07] dewyman commented on #48
Hi! Don't worry, your question makes total sense. We've been working on a utility to help address your question. It's technically complete and passed our tests, but is running slowly so we were hoping to do a bit more work on it to make it run faster. In the meantime though, you're welcome to try it out:

[code]
As a side note, when you run this script in 'intron' mode, the start/end positions cur

[2020-01-08 16:36] gm-nyc commented on #48
Hi Dana,

Thanks for your help. I am trying to run this script and it's either extremely slow or getting stuck. I subsetted my gtf by chromosome and took the smallest one (chrM in my case, with 48 total lines in the gtf) and the script is still running. Is that the expected speed or do you think there is another issue?

[2020-01-08 22:43] dewyman commented on #48
Thanks for letting us know- we'll look into it some more.

[2020-01-08 22:52] dewyman commented on #48
The reason it's taking so long with your current command is because your --ref file is the entire annotation. If you want to run just chrM, consider subsetting the reference GTF also.

[2020-01-10 22:43] fairliereese commented on #48
Hey, we just fixed how long things were taking. It should run MUCH faster now, and you should be able to do so with full gtfs. Let us know if it's working for you!

[2020-01-13 18:27] #48 closed

[2020-03-04 19:03] signor-molevol opened #50 "UNIQUE constraint failed: dataset.dataset_ID"
This is happening at the end of about 1/2 of my runs for talon, with other combinations of .sam files, config files, and db's working just fine.

For example, this command produces the error:

talon --f ../TranscriptClean-master/config.csv --db ds2.2.db --build ds2.2 --threads 4 --o talon_out1

and this does not:

talon --f ../TranscriptClean-master/config_2.csv --db ds2.2.db --build ds2.2 --threa

[2020-03-04 19:05] dewyman commented on #50
Hello, I think the problem here is that you have given two datasets the same name in your configuration files (i.e. the first column). Could you check if that is the case?
All the best,
Dana

[2020-03-04 19:07] signor-molevol commented on #50
Hi Dana,

Yes, I keep changing the names to investigate that possibility, and that isn't it.

Thanks, Sarah

________________________________
From: Dana Wyman <notifications@github.com>
Sent: Wednesday, March 4, 2020 7:05 PM
To: dewyman/TALON <TALON@noreply.github.com>
Cc: Sarah Signor <ssignor@usc.edu>; Author <author@noreply.github.com>
Subject: Re: [dewyman/TALON] UNIQUE constraint failed: data

[2020-03-04 19:18] dewyman commented on #50
Hi Sarah,
Out of curiosity, do you get the same error when you combine the two config files into one and run all of the datasets at once? Also, which TALON version are you running?
Thanks,
Dana

[2020-03-04 21:00] signor-molevol commented on #50
In case anyone else comes across this, and so the issue can be closed, the problem was that I needed to reinitialize the database when I started with a new sample.

[2020-03-04 21:10] #50 closed

[2020-03-08 17:43] luckylyw opened #51 "pip install talon doesn't work?"
Hello!

   When I use PIP install talon, the installation is successful, but the command such as Talon is not displayed.
<img width="439" alt="image" src="https://user-images.githubusercontent.com/31990103/76168098-341d7580-61a7-11ea-800c-85969e99a08c.png">

[2020-03-08 17:50] dewyman commented on #51
Hello,
What was the pip command that you used?
Best,
Dana

[2020-03-08 17:52] luckylyw commented on #51
pip3 install talon

[2020-03-08 18:04] dewyman commented on #51
Ok, I see the problem. We haven't actually added TALON to PyPI, so pip install talon does not work. What you will need to do instead is download the TALON release [here](https://github.com/dewyman/TALON/releases/tag/4.4.2), cd into the directory once you've downloaded and unzipped it, and then run 'pip install .' Then it should work.

[2020-03-08 18:28] luckylyw commented on #51
Thanks for your answer. I have successfully installed Talon！！！

[2020-03-08 18:28] dewyman commented on #51
Great! Happy to help.

[2020-03-08 18:28] #51 closed

[2020-03-11 15:24] luckylyw opened #52 "too many values to unpack(expected 2)"
Hello,

   I used talon_initialize_database,  there's error.

cmd : talon_initialize_database --f Mus_musculus.GRCm38.87.gtf --a gencode.v29 --g hg38 --o example_talon 1>x1.log

Traceback (most recent call last):
  File "/home/luoluo/.local/bin/talon_initialize_database", line 10, in <module>
    sys.exit(main())
  File "/home/luoluo/.local/lib/python3.7/site-packages/talon/initialize_talon_databa

[2020-03-13 17:01] fairliereese commented on #52
We have encountered this error internally and are working on a fix for it. This has to do with extra spaces being present in the last column (the attributes) of the GTF.

[2020-03-14 15:41] sgiannouk opened #53 "talon_generate_report error"
Hi there,

I tried to run talon and everything run smoothly, but when I get to the point to run 'talon_generate_report', I got the following issue even though I have already installed all the necessary libraries in R.

$ talon_generate_report
Loading required packages...
One of the required packages is missing.
Here's the original error message:
there is no package called ‘DBI’Error in theme_bw(ba

[2020-03-16 17:11] dewyman commented on #53
Hello!
The talon_generate_report script is not in the documentation because it is something we started working on a while back, but didn't really develop into a production-ready feature.

That said, based on the error you are getting, it looks like the script may be having problems loading the R packages DBI and ggplot2. To get the arguments for the script, you can run talon_generate_report -h.

B

[2020-03-16 19:55] sgiannouk commented on #53
Hi Dana,

I see you are right, I was missing one package, but now it's working properly, Thanx!
One more question,  can you explain a bit more what is needed in the argument '--datasets'?

Greetings,
Stavros

[2020-03-16 23:34] dewyman commented on #53
Hi Stavros,

The datasets argument takes a comma-delimited list of the dataset names you would like to include. These would correspond to one or more dataset names from your config file.

Best,
Dana

[2020-03-17 01:14] fairliereese commented on #52
Hi, would you mind doing a fresh git pull from the mod_filtering branch and trying that out? I should have fixed the issue!

[2020-03-18 01:13] #53 closed

[2020-03-18 10:18] sgiannouk commented on #53
Great, thank you for your help!

Greetings,
Stavros

[2020-03-23 02:15] ashokpatowary opened #54 "talon_label_reads: AttributeError: 'NoneType' object has no attribute 'lower'"
Hi @dewyman

I just updated to TALON v5 and tried to reprocess one of my old data. So, we I tried talon_label_reads on my data I am getting the following error. The same sam file was processed earlier with v4.4 without any error. Can you please look into it?

Thanks

[ 2020-03-23 02:00:23 ] Splitting SAM by chromosome...
[ 2020-03-23 02:00:23 ] -----Converting to bam....
[ 2020-03-23 02:00:51 ] --

[2020-03-23 18:56] dewyman commented on #54
Hi Ashok,
I think your SAM file is fine. Did you provide the required Fasta reference genome file though? It looks like pyfaidx is trying to open a nonexistent file path. You can see all the options by running talon_label_reads --h.
Best,
Dana

[2020-03-23 19:53] ashokpatowary commented on #54
Hi @dewyman

Yess I did provide the genome fasta file.

talon_label_reads  --f=TransClen_SJ_HFB_clean_h.sam --g=GRCh37.primary_assembly.genome_mod.fa  --t=12 --deleteTmp --o label

[2020-03-23 20:39] dewyman commented on #54
Ok good. And you've doubled-checked that the SAM path and fasta paths are correct?

[2020-03-23 22:53] ashokpatowary commented on #54
@dewyman Yes. the paths are correct. I again tried with full path to sam and fa files. Still same error.

[2020-03-23 23:35] dewyman commented on #54
Thanks for checking that for me! Just trying to rule out the most basic possible reasons before we go to the more labor-intensive things :)
Would you mind trying to run talon_label_reads on the provided TALON example [here](https://github.com/mortazavilab/TALON/tree/master/example) for me with the same settings you are using now? If that works, then we'll want to see if there is an issue with your

[2020-03-24 00:04] ashokpatowary commented on #54
hi @dewyman

Thanks and you are right while asking me to checks those minor things. As a user community that's our responsibility.  So, the problem is solved and here is the issue. While giving the options like --f, --g for the example dataset it works perfect in either way like --f *.sam or --f=*.sam and --g *.fa or --g=*fa. But for my dataset it works only when I give --f *.sam --g *.fa  and not

[2020-03-24 00:04] #54 closed

[2020-03-24 00:06] dewyman commented on #54
Hi Ashok,
I'm glad you were able to figure it out! As always, I'm happy to answer questions if you run into any other issues.
Best,
Dana

[2020-03-25 01:37] aramaiah opened #55 "Issues in identification of genes/isoforms based on the reference GTF in Talon:"
I used the Talon in Bioconda. I ran the Talon using blank GTF as reference for de novo genes identification. It was successful. However, when I used the output of Talon run-1 as input GTF reference, for identifying the genes using subreads data, it was keeping giving me the errors during 'talon_abundance' and 'talon_create_GTF' steps. I have used variety of names for -a and -g, but could not able

[2020-03-25 16:52] dewyman commented on #55
Hi,
When you initialize a TALON database with a blank GTF, you essentially get an empty database, which leads to problems downstream as you noticed because no genome build or annotation names got added. What I would recommend to get around this is to initialize with a dummy GTF like the one I've uploaded [here](https://github.com/mortazavilab/TALON/blob/master/src/talon/blank.gtf)- even having one

[2020-03-25 18:58] ashokpatowary opened #56 "read_annot.tsv gene_novelty:Other"
Hi @dewyman

What I understand in the read_annot.tsv file there can be three catagory i.e known, intergenic and antisense. But in my dataset I am getting an additional type "Other". I do member you did it last year when I reach out to you. But because of this category "Other"  I failed to run abundance script. So, should I modify the read_annot.tsv file removing all the "Other" gene_novelty catego

[2020-03-25 21:04] aramaiah commented on #55
Hi,
Thank you for your response. I have used an actual GTF (output of first
Talon run) as input and I am doing a new run with isoseq data for novel
transcript discovery. I had used the test gtf that you had shared for the
previous run. I am happy to share the data if you wants to look at them.

Best,
Arun

On Wed, Mar 25, 2020 at 9:52 AM Dana Wyman <notifications@github.com> wrote:

[2020-03-25 21:36] dewyman commented on #55
Hi Arun,
I'd be happy to take a look. You can send the GTF to me at dwyman@uci.edu.
Best,
Dana

[2020-03-25 21:46] dewyman commented on #56
Hi Ashok,

You are correct- the 'Other' category is a patch I put in to resolve issue #47 last year. It covers cases where the novelty type of a gene or transcript in your reference GTF was listed as something other than 'KNOWN'. Since the abundance script runs on the database rather than the read_annot file, editing the read_annot file unfortunately won't help with this.

One way to address this

[2020-03-25 21:59] ashokpatowary commented on #56
Hi @dewyman

My bad. Since I was trying to under the error on the in the read_annot.tsv file; I just flow with it and confuse it with database file. Bellow is the error. I think it will be helpful if there can be an abundance script patch. Also, I am having a not so important query. Is there any way to generate abundance for all the transcript if I run it on a single sample? What I understand from

[2020-03-30 19:14] wolfgangrumpf opened #57 "Can't run talon_abundance - annotation missing?"
I created a database using this command:

talon_initialize_database --f gencode.v33.annotation.gtf --g GRCh38.99 --a GRCh38.99 --o GRCh38.99.fam02

I was able to execute talon and talon_summarize just fine.  I then tried to get the abundance data with:

talon_abundance --db GRCh38.99.fam02.db -b GRCh38.99.fam02 --annot gencode.v33 --o fam02

But I got the error that the annotation wasn't in the da

[2020-03-30 19:20] fairliereese commented on #57
Hey, it looks like you're calling your annotation "GRCh38.99" when you initialize your database, but then calling it "gencode.v33" when trying to  make your abundance file. Instead, please use "GRCH38.99" as your --annot value when running talon_abundance. Let me know if this works!

[2020-03-30 19:51] wolfgangrumpf commented on #57
Yup, that did it.  Thanks!  I'm still trying to work my way through TALON, I appreciate the help!

[2020-03-30 19:58] fairliereese commented on #57
Glad to hear it! We can update the documentation accordingly so others don't experience this confusion. Thanks for bringing this to our attention!

[2020-03-30 19:58] #57 closed

[2020-03-30 21:34] fairliereese commented on #56
To answer your question about generating an abundance matrix for all transcripts in your sample, all you have to do is run the talon_abundance script without the --whitelist option. This will provide you with an unfiltered abundance file that should include each of the transcript counts.

[2020-03-30 21:35] ashokpatowary commented on #56
@fairliereese Thanks. Yes UI managed to  get it. Thanks again.

[2020-03-30 21:41] fairliereese commented on #56
Were you able to get the abundance script running? We want to make sure that we are supporting all of our user's input data types.

[2020-03-30 22:26] ashokpatowary commented on #56
@fairliereese I modified the input gtf file as suggested by @dewyman and the abundance file generated. I haver not looked into the data, but for users using gencod v33 (which I am using) one need to modify the gtf.

[2020-03-30 23:18] fairliereese commented on #56
Could you please send me the gtf you're trying to work with? I'm having trouble tracking down the issue with the GENCODE v33 gtf. freese@uci.edu

[2020-03-31 00:34] ashokpatowary commented on #56
@fairliereese I will send it latter tonight. Thanks

[2020-03-31 17:14] wolfgangrumpf opened #58 "How can I get transcript start/end sites in output?"
I read the instructions and it says:

Start_support: If the user provided a custom SAM flag (tS:Z) to denote external evidence for the start site of a read, the value will be shown here.
End_support: If the user provided a custom SAM flag (tE:Z to denote external evidence for the end site of a read, the value will be shown here.

I'm not sure how to go about getting that data into the SAM file - a

[2020-03-31 17:50] dewyman commented on #58
Hi Wolfgang,

Thank you for your question! These custom SAM flags are an optional beta feature for users. Basically, if you have some method of your own that determines start/end support of individual reads, you would add your tag in the format shown to the SAM reads prior to running TALON, and then that information would show up in the TALON database and read_annot file, where you could use it to

[2020-03-31 19:43] wolfgangrumpf commented on #58
Wouldn't it be possible to extract this info from the GTF file used to create the database?  That way you could have talon compute the distance from transcription start/transcription end for each transcript quickly...

[2020-04-02 21:47] dewyman commented on #58
Hi Wolfgang,
Yes, I think that would in principle be possible to implement for known transcripts. What TALON currently does is record the distance to the nearest 5' or 3' end for each individual read (this is recorded in the database's 'observed' table as the start_delta and end_delta fields). The caveat is that even for known trancripts, this nearest point may not necessarily be the start or end

[2020-04-11 21:16] chalybes opened #59 "ValueError: No reads detected. Make sure your dataset names are correct."
I'm testing out TALON on some Nanopore sequencing reads. After setting up the database and specifying the config file TALON's `get_read_annotations.py` would run and throw this exception:

`ValueError: No reads detected. Make sure your dataset names are correct.`

I combed through the GitHub code and double-checked my config file, I can't seem to pinpoint why I would be having issues with the data

[2020-04-14 18:51] ashokpatowary opened #60 "fusion transcript?"
Hi @dewyman @fairliereese

Will it be possible to identify all the fusion transcripts in the data using talon?

Thanks

[2020-04-14 18:53] ashokpatowary commented on #56
@fairliereese should I close this issue or you are working on it? My problem has been solved by modifying the input reference gtf file. Thanks

[2020-04-14 18:58] fairliereese commented on #56
I would still like to take a stab at fixing this internally as we should be able to run TALON with GENCODE GTFs at the very least so go ahead and leave it open :)

[2020-04-14 19:07] fairliereese commented on #59
Hello!
Let's pinpoint what's going wrong for you. Can you tell me what commands you're using starting from initializing the database?

[2020-04-16 01:29] ashokpatowary opened #61 "talon_get_sjs"
Hi @dewyman @fairliereese

Cab you look into this error

Command:
`talon_get_sjs --gtf merge_talon.gtf --db merge.db  --ref gencode.v33lift37.annotation_ap.gtf --outprefix merge`

error

`Traceback (most recent call last):
  File "/u/home/a/ashokpat/project-gandalm/Tools/TALON/src/talon/post/get_transcript_sjs.py", line 442, in <module>
    main()
  File "/u/home/a/ashokpat/project-gandalm/Tools/T

[2020-04-16 02:02] fairliereese commented on #61
So the first problem is because you provided both the --db and the --gtf arguments when you only need one, as you might have figured out. For the other error, it looks to me like it's complaining about your reference gtf and how is formatted. Could you send it to me? freese@uci.edu

[2020-04-16 02:07] ashokpatowary commented on #61
@fairliereese

Ref gtf file was downloaded from here ftp://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_33/GRCh37_mapping/gencode.v33lift37.annotation.gtf.gz

Its too big to send through mail.

Thanks

[2020-04-16 02:09] fairliereese commented on #61
Oh no, is this the same gtf that was giving us trouble before? I will look into it when I have time!

[2020-04-16 02:29] ashokpatowary commented on #61
@fairliereese Yes. The same one.

[2020-04-16 02:32] ashokpatowary commented on #61
@fairliereese
Can we make --gft optional?

[2020-04-16 21:43] fairliereese commented on #61
Do you mean make --ref or --gtf optional? I could make --ref optional for those that are not interested in the novelty of their splice junctions. For --gtf, this utility has to use either --gtf or --db. In that sense it is optional, as long as you use the --db option.

Either way, I determined that the issue with running this tool is that the reference gtf has a header format that I adjusted the s

[2020-04-18 22:54] ashokpatowary commented on #61
@fairliereese
The script is running over 24 hour till now. Does it supposed to take such a long time??

Also I am having another query. I was going through the gtf file produced by TALON and come across many exon for which start and end position is same. I did not understand why. Please the the 1st exon start and end in the image attached. Thanks.
<img width="1206" alt="Screen Shot 2020-04-18 at 3

[2020-04-18 23:15] fairliereese commented on #61
So I've seen the single-base exon issue crop up before and at this point I'm not exactly sure why it happens. What version of TALON did you run to call your transcript isoforms, and what exactly were the arguments you passed to it?

With regards to the runtime of the splice junction code, it should not be running that long.... In fact we've already optimized it once after deciding it was running t

[2020-04-18 23:38] ashokpatowary commented on #61
@fairliereese

I think I am using v5.0 of TALON.

my command is
`talon_create_GTF --db merge.db -b hg37 -a gencode_v33 --whitelist whitelist_multiexon.txt --o merge &`

For `talon_get_sjs` I just updated the TALON repo and ran it yesterday. My command was
`talon_get_sjs --gtf merge_talon.gtf --ref gencode.v33lift37.annotation.gtf --outprefix merge`

[2020-04-18 23:41] fairliereese commented on #61
Thank you!

I've found the bottleneck in the splice junction code. I think it's something I'm going to have to discuss with @dewyman, but she is busy with defense things! As a temporary measure, if you want me to give you a version of the code that will give you the splice junctions but not the transcript ids that use them, I can. Let me know!

[2020-04-18 23:52] ashokpatowary commented on #61
@fairliereese

No hurries. Take you time and let @dewyman defense her thesis. For now as a stop gap arrangement I used `get_SJs_from_gtf.py` from TranscriptClean.

[2020-04-18 23:55] fairliereese commented on #61
Smart! I will let you know when I have an update fro you.

[2020-04-20 18:29] #52 closed

[2020-04-29 07:12] ashokpatowary opened #62 "TALON gene abundance"
Hi @dewyman @fairliereese

I was trying to get abundance genes identified in my dataset. So, I tried it by

`talon_abundance --db Iso_.db -a gencode_v33 -b hg37 --o GeneAbundance`

Since it was supposed to generate gene wise abundance I was expecting per gene one entry in the output file. But I can multiple entry per gene. How can I generate a one gene one entry abundance file?

Thanks

[2020-04-29 17:41] fairliereese commented on #62
The abundance files that TALON creates are expression values on the transcript-isoform level. To get gene-level expression values, you can use your favorite spreadsheet editor or table manipulation programming library (ie Pandas in Python or dplyr in R) to add up the counts for each row with the same gene ID (either column 1 or 3, both would work). This is also possibly another option we could add

[2020-04-29 17:41] #62 closed

[2020-04-29 18:57] ashokpatowary commented on #62
@fairliereese Thanks for response. I misread the statement from the TALON description

`To generate a file suitable for gene expression analysis, skip the --whitelist option (i.e. make an unfiltered abundance file)`

Since I am trying to used TALON to single cell data I was also looking for gene level expression/ abundance to compare with short read clustering.

Thanks

[2020-04-29 19:04] fairliereese commented on #62
This option still won't give you gene-level expression unfortunately, it will just exclude specific transcript models from the final abundance file. Again, if you need my help figuring out how to aggregate the counts across genes I will be more than happy to work with you.

[2020-04-29 20:26] ashokpatowary commented on #62
@fairliereese Thanks for your offer for help. I just followed your suggestion of adding up the counts for each row with the same gene ID and generated an abundance file. Being a molecular biologist I am not good in scripting language of R or python. But I enjoyed working with awk; so just wrote an awk script for the same. Thanks and for the advice and also for your offer to help.

[2020-04-29 20:37] fairliereese commented on #62
Of course! I think this would be a valuable option to add in the future to our abundance script so thank you for bringing it to our attention, and kudos to you for figuring out how to reformat your table the way you want it!

[2020-06-07 18:15] ashokpatowary opened #64 "talon_read_annot.tsv: known"
Hi @dewyman @fairliereese

I am having a query regarding known status for an transcript in the *read_annot.tsv file. What I understand, known are transcripts with full splice match with the reference gtf file (in my case gecodev33). Now please have a look in the following example. You can see talon marked it Known

<img width="1274" alt="Screen Shot 2020-06-07 at 11 02 51 AM" src="https://user-ima

[2020-06-07 19:15] #56 closed

[2020-06-07 19:16] #61 closed

[2020-06-07 19:23] fairliereese commented on #64
Hi.
All transcripts that map to the reference annotation you provide TALON will be categorized as known transcripts. This means that every transcript in the reference annotation you use (in this case GENCODE v33), will also be known transcripts, regardless of any labelling they have in the reference. Moreover, I don't see anywhere in your screenshot of the GTF entry that it says it is an ISM. I'm

[2020-06-07 19:26] #58 closed

[2020-06-07 20:03] ashokpatowary commented on #64
@fairliereese

Ok. I got it now. Thanks. My concern was that for the transcript id ENST00000533608.6_2 the reference transcript position is chr11:44117228-44273531. But in the *.tsv file when I extract the reads for which the annot_transcript_id is "ENST00000533608.6_2" None of them are matching full length (in this case end position is much upstream). What I understand from this image was
that th

[2020-06-07 20:30] fairliereese commented on #64
TALON only only considers splice junctions, not read starts and ends, to assign a read to a transcript. In this way, transcript starts and ends are flexible.

[2020-06-09 04:21] abs-yy opened #65 "Error in get_read_annotations.py"
Hi, thanks for the brilliant software!
I've been trying TALON (installed through pip in a condo env), but I am getting an no-strand error at the annotation output stage.

% talon --db genome.fasta.talon.db  --build genome.fasta --thread 62  --o=talon --f=talon_config

[code]

Is there something that I can do to solve this problem?

Thanks.

[2020-06-12 23:30] fairliereese commented on #65
Hi,
This is an error that I have never seen before. Did TALON give you an output database or did it throw this error before that?

[2020-06-13 01:47] abs-yy commented on #65
It just died right here without other errors.

[2020-06-13 14:19] abs-yy commented on #65
I've tried the SQL query against the db file at DB Browser for SQLite in my local computer but it worked out fine, is there any requirement in the Sqlite version?

[2020-06-13 19:13] fairliereese commented on #65
I'm not sure if there are sqlite version incompatibilities. My environment that I'm able to run TALON from has sqlite3 (the Python library) version 2.6.0, and sqlite version 3.30.1. What versions do you have? You can check easily from Python with:

[code]

[2020-06-13 19:15] fairliereese commented on #65
Also your database should be completely populated now, after looking at the code... You can try to do some downstream analysis if you feel up to it but of course I would be skeptical of the integrity of the database.

[2020-06-13 19:27] fairliereese commented on #65
It looks like one of your genes does not have a strand associated with it, which is what is directly causing this issue. It is possible in that case that your reference GTF might be missing a strand field.

[2020-06-13 19:27] #64 closed

[2020-06-14 00:33] abs-yy commented on #65
Thanks for the info

I've checked the gtf file but there are no strand information missing genes.
The SQLite versions were also close to your environments.

2.6.0

3.28.0

would it be possible to output a gtf file from the database using the talon_create_GTF script?

[2020-06-14 01:00] fairliereese commented on #65
You should try!

I am curious to find out more about the offending gene. A way to check this would be opening your TALON database in the sqlite browser, navigating to the genes table, seeing if any entries have strands that are not '+' or '-', and then cross-referencing the genes via gene_ID in the gene_annotations table.

If you want, you can zip your db up and send it to me so I can take a look,

[2020-06-15 00:47] abs-yy commented on #65
I finally got it, the GTF file I had used was corrupted, the transcript rows lacked the gene_id field. Thats what made the loss of linkage between tables. Fixed it and the pipeline went on beautifully.
Sorry for the bother!

[2020-06-15 00:47] #65 closed

[2020-07-09 19:52] fairliereese opened #66 "Multiprocessing sometimes fails in talon_label_reads"
The fix would be to pass the same pyfaidx genome object to each of the threads instead of initializing a new one on each different thread. Pyfaidx creates and accesses flat files on the disk that can result in clashes across threads.

[2020-09-16 21:23] joelnitta opened #67 "Export fasta from TALON database?"
Hi, thanks for the excellent software!

This is a feature request, or if there is a way to do this already, I'd like to know how. I want to export a "transcriptome" of all filtered isoforms for downstream analysis. This is basically the same thing as `talon_create_GTF`, but instead of a GTF file it would produce a fasta file. I tried using `gffread` to extract the transcript sequences from the GTF

[2020-10-14 09:57] shnmunk opened #68 "Primary and/or secondary alignments as input for TALON"
Hi,

When running Minimap2 prior to the TALON pipeline, would you recommend including both primary and secondary alignments or only the primary alignments (minimap --secondary=no)?

Best,
Sebastian

[2020-10-30 04:24] dewyman commented on #68
Hi Sebastian, you should be fine using the recommended '-ax splice' parameters. TALON will only use the primary alignments, so feel free to use --secondary=no, but it's safe either way.

[2020-11-15 19:43] mmiladi opened #69 "INFO: TALON conda package"
Dear TALON team,

TALON is now available as a conda package inside bioconda. Having a conda setup in place, `conda install -c bioconda talon` will make the tool installed inside the conda environment.

The recipe can be found here: https://github.com/bioconda/bioconda-recipes/blob/master/recipes/talon/meta.yaml

cheers,
Milad

[2020-11-20 15:29] NatPRoach opened #70 "TALON run fails with python >= 3.8, works with <= 3.7"
Hello,
Seems that TALON's logic fails with python installations >= 3.8.
When running on the test data provided with your distribution with the commands provided the program fails with the following output at the talon step
[code]

Note that while this is in a conda environment talon itself was not installed through conda. I just used that to test different python versions but used the `pip install

[2020-12-10 20:03] fairliereese commented on #67
This is an interesting idea. I am a bit confused though, wouldn't the sequences in the genome where the isoforms mapped to be the transcript sequences themselves? Unless you're concerned with pulling out genetic variation as compared to the reference genome.

[2021-01-05 11:29] rsalz opened #71 "Talon GTF - adding CDS"
Hi,

I was wondering if there was a simple way to add features to the talon GTF such as CDS. Any recommendations?

TIA
Renee

[2021-01-07 12:32] JasperBoom opened #72 "Transcripts identified possibly without supporting reads."
Dear TALON team,

We are analysing a nanopore human dataset using TALON and came across
some interesting transcripts with a high abundance.
Looking further into these transcripts, we hoped to see which reads were
the basis for the transcripts.

We came across a number of transcripts that don't seem to have reads supporting
the genomic start and end positions and the full body of the transcript
whe

[2021-01-18 23:35] fairliereese commented on #72
Hi there,

TALON treats transcript starts and ends differently than splice junctions, that is, there is flexibility in terms of distance of the read's start/end to the annotated (in the case of Known transcripts) or created (in the case of novel transcripts) starts or ends of the transcript model. This flexibility is tunable for the `talon_initialize_database` step using the `--3p` and `--5p` opti

[2021-01-18 23:40] fairliereese commented on #71
For known transcripts, you could do this with a reference annotation that already has the CDS annotated (outside of TALON) and somehow merge it with the TALON GTF output. However since TALON is specifically designed with novel transcripts in mind, it would be difficult to get the CDSs of these specific transcripts which don't have annotated CDSs.

I would advise trying to look for CDSs as a post-T

[2021-01-18 23:40] #71 closed

[2021-01-18 23:40] #69 closed

[2021-01-19 15:43] JasperBoom commented on #72
Hey!

Thank you for your input! I checked out the read annotation file you mention.

We exracted the reads assigned to this particular transcript and looked at them in IGV.
I now see the one read that is responsible for the start of the transcript clearly (the first in IGV).
And I spotted some short reads that match the end of the transcript.

However, we were wondering why some of these long read

[2021-01-26 15:42] simonemoro opened #73 "ValueError: Annotation name 'transcriptome' not found in this database. Try one of the following:"
Hello TALON group,
After running your program I get this message:

**ValueError: Annotation name 'transcriptome' not found in this database. Try one of the following:**

'transcriptome' is the name that I use when I create the database with talon_initialize_database. And I use the same name in talon_abundance and talon_create_GTF.
Do you know what's the issue here?

Thanks for your help.

[2021-02-03 18:20] fairliereese commented on #73
Can you please provide the calls that you made along with the call that specifically throws the error? Which version of TALON are you running?

[2021-02-03 18:31] fairliereese commented on #72
As you mention, this behavior is due to the `--5` and `--3` settings if all of the reads you see have starts and ends within the default windows given for these arguments.

This effect is certainly exaggerated as you can see in your example where you have a bunch of monoexonic reads that all map to roughly the same locus. Because TALON cannot perform intron chain matching (as there are no introns)

[2021-02-10 11:58] JasperBoom commented on #72
Hey!

My supervisor pointed out that I was not entirely correct with regards to
the distance between the 3' and 5' ends of the transcript and some of the
reads being assigned to the transcript.

I have collected the genomic positions of the first seven reads shown in the
IGV screenshot below.
I have also added the genomic position of the transcript in question
TALONT000227914 (red arrow).

[code]

[2021-02-10 18:54] fairliereese commented on #72
Good catch, upon double checking of your read starts and ends compared to the transcript's start and end, it looks like all 5' coordinates are within 500 bp of the transcript start, but _not_ all 3' coordinates are within the default 300 bp of the transcript end. I'm going to reach out to Dana to ask if she has any insight on this behavior. I will let you know what we find.

[2021-02-17 20:29] fairliereese commented on #72
Hi there, after following up with Dana, both of us are a little puzzled by this behavior and not sure what it stems from but it seems to boil down to the fact that working with monoexonic transcripts is tricky. I can investigate it further with the data you've provided but can't promise anything any time soon.

If you're interested in taking a look into it yourselves, some functions you might want

[2021-02-22 08:02] JasperBoom commented on #72
Thank you for looking into this!
I will let you know if I have any questions!

[2021-02-24 13:41] sid-sethi opened #74 "Failed to open file talon_tmp/interval_files/1_10554_248944156.bam"
Hello Talon Team,

I got an error while running the talon annotate step. Could you please help me with this?

Version: v5.0
Command used: talon --f config_file.txt --db talon_gencode_v37_gtf.db --build hg38 --threads 25 --o talon_annotate

Error:

[ 2021-02-23 13:01:09 ] Started TALON run
[E::hts_open_format] Failed to open file talon_tmp/interval_files/1_10554_248944156.bam
[ 2021-02-23 21:16:48

[2021-03-23 19:31] slsevilla commented on #74
Checking to see if there was an update to this... I'm also I am wondering why a --tmpDir= flag is not included in the talon command. Not having any control over this dir is problematic when attempting to submit jobs to a HPC where the script dir and output dir are not the same.

[2021-03-24 14:25] kopardev commented on #74
PR with a [fix](https://github.com/mortazavilab/TALON/pull/75)

[2021-05-08 02:04] oneillkza opened #76 "Any chance of getting bam support?"
Would there be any chance of getting Talon to accept bams as input? We have bams >100GB. We basically never store these as sams, since they'd be 0.5TB each. But to run Talon, I have to uncompress back to sam.

This probably also slows down the execution of Talon, as I'd imagine it'd be much faster to read in from bam.

Would it be possible to get bam file support? Or alternately, reading from stdi

[2021-05-08 02:11] oneillkza opened #77 "Roll config file into command line parameters?"
Right now half of the parameters to Talon are passed directly (e.g. `--db`, `--build`), but the other half (sample info, sam file) are passed via a separate comma-separated file. This is a little fiddly for running Talon in a broader workflow, and also seems unnecessary.

Would it be possible to make the four fields in the csv be their own named parameters?

e.g. something like:

[code]

[2021-05-12 18:10] oneillkza commented on #59
@fairliereese  I'm also getting this issue. Do the various sample names specified in the config file have to correspond to RG tag values in the input sam?

[2021-05-12 18:12] oneillkza commented on #76
Note: this seems extra silly, since it looks like the first thing TALON does is turn the sam back into a bam.

But when I tried to pass it a bam in the config file, it threw and error saying it needed sam input.

[2021-05-12 18:21] oneillkza commented on #59
I am running ccbr_talon_5.0_v2.1 from the Docker container (via Singularity).

The commands run were:

[code]

This was the output from TALON:

[code]

Note that I'm just passing in "dummy" for the various labels in the config file.

One other thing: I did not label reads for internal priming. Could that be causing the issue?

[2021-05-12 19:03] fairliereese commented on #59
TALON provides RG tags when it merges all the sam files together at the beginning of the run, based on the sample names provided in the config file. Since you only have one sam file in your config file, I imagine this is not the problem

This is not a problem, we just suggest doing this before you run TALON for transcript QC purposes.

The problem seems to be in the script that executes at the end

[2021-05-12 19:06] fairliereese commented on #76
Thank you for the suggestion - I agree that this would be a nice quality of life improvement for TALON. We are planning a TALON upgrade in the coming months and will try to roll this into it!

[2021-05-12 19:07] fairliereese commented on #77
Same with this one, I agree that this would be nice and I will try to roll this into the next big update!

[2021-05-13 02:38] oneillkza commented on #59
Thanks!

Here's a minimal dataset that should be OK to share:

[uhr_min.sam.gz](https://github.com/mortazavilab/TALON/files/6470054/uhr_min.sam.gz)

I was also trying to run quantification on the database produced by the above step, but that produced an empty file. I notice that in the tmp dir, the abundance_tuples.tsv file is empty:

[code]

[2021-05-13 03:40] fairliereese commented on #59
Hmm, this very much makes me think that there is a problem with the queries produced as part of these steps. I'll take a look at your data and get back to you!

[2021-05-13 03:54] fairliereese commented on #59
I was unable to reproduce your bug with the most recent commit to master.

I ran the following code:
[code]

I would advise trying to pull the latest commits and installing using pip in the cloned directory, and seeing if that fixes your issue. If not, I'd recommend sending me the broken database so I can see if there's anything glaringly wrong there that we can track down.

The abundance_tuples.t

[2021-05-14 00:20] oneillkza commented on #59
Thanks -- that's good to know about the empty abundance_tuples.tsv.

I'll see if I can get the latest version of the code up and running. I was running it through the Docker container. I should be able to set up a Conda environment and do a pip install inside that.

[2021-05-14 16:27] oneillkza commented on #59
@fairliereese so it looks like that does run OK.

One other thing is that I was previously running the branch from #75 with the option of specifying the tmp_dir, and that's the one that failed. I'm realising now that #75 actually hasn't been merged (so the functionality is not present in the development branch). I'm also noticing that there isn't any integration testing on TALON, so it's hard to k

[2021-05-14 17:28] fairliereese commented on #59
Thanks for the tips! I have not had time to review the pull request and therefore haven't merged it in. We used to have Travis CI set up but some dependency broke it at some point in a way we just seemed to be unable to fix. I will look into setting it up again though.

[2021-05-15 01:26] oneillkza commented on #76
Thanks -- it would be a huge quality of life improvement. I'm running TALON now on a whole PromethION flowcell's worth of RNA-seq (>100M reads), and it needs about 700GB of extra storage to turn the BAM into SAM and then have TALON turn it back into BAM again. It's also taking about 18 hours to do all that, since it seems to be single-threaded.

[2021-05-15 03:24] fairliereese commented on #76
If you're interested in trying it out, I added BAM support to the [development branch](https://github.com/mortazavilab/TALON/tree/development). I think it would also make sense to add the multithreading option to the SAM to BAM conversion in line with as many threads as are already given to TALON, so I can do that as well.

[2021-05-28 15:05] YZYwoazzzzz opened #78 "tmp file"
hi guys,
In talon step, a talon_tmp dir was created. But many pybedtools.*.tmp files were generated in my root /tmp dir. How to fix it?
Thx.
Y

[2021-06-03 20:41] fairliereese commented on #60
Hi there, sorry for the late response but TALON does not detect fusion transcripts.

[2021-06-03 20:41] #60 closed

[2021-06-03 22:09] ashokpatowary commented on #60
@fairliereese Thanks. Just another simple query. Does talon detect novel exon upstream of the gene start site (i.e novel exon splicing to the 1st exon of the known gene transcripts)? or talon identified exons within the reference gene boundary only?

Thanks

[2021-06-04 04:50] fairliereese commented on #60
If TALON finds a new exon upstream of the annotated TSSs belonging to the gene, the transcripts will be annotated as novel but still should belong to the gene as the rest of the splicing structure is shared between the gene and the transcript.

[2021-06-11 01:20] fairliereese commented on #78
Hi,

I'm not sure I understand your question. Is this the same problem as https://github.com/mortazavilab/TALON/issues/74?

[2021-06-11 02:12] YZYwoazzzzz commented on #78
Hi fairliereese,
Thanks for response.
I am not familiar with python scripts, but I think there may be an issue with pybedtools. It generates  pybedtools.*.tmp files in /tmp/* file by default. I see that in  https://daler.github.io/pybedtools/topical-design-principles.html. And the /tmp/* files were not deleted when transcriptclean finished.
I add a line in transcriptclean.py:
pybedtools.set_tempdi

[2021-06-11 16:13] fairliereese commented on #78
Ah I see. That definitely does seem weird, but perhaps maybe something that could be solved in TranscriptClean as opposed to TALON.

[2021-06-23 15:07] callumparr opened #79 "N replicates for whitelist"
I want to make a whitelist to remove novel entries that may not be that well supproted. My experimental design is several conditions of age, gender, and housing for mouse brain samples (~34 samples in total and roughly 3-5 per condition each). However, I was thinking in terms of replicates for whitelist what would be termed a biological replicate. I could supply all 34 samples but that seems exces

[2021-06-24 18:09] fairliereese commented on #79
This is really subjective based on your experimental design. What I might do on a dataset such as this is indeed make a pass list for each condition and then take the union of those pass lists.

With regards to how many replicates you require each transcript to be reproducible in, again, this is pretty subjective. If you have spike ins you can try a parameter space exploration varying the fraction

[2021-06-25 03:22] callumparr commented on #79
TY very much for your reply. It's very useful. May I ask how to interpret the `whitelist.csv` file. Do the numbers refer to the order in which an isoform appears in the `TALON.db`? So after running for each condition I can combine the different whitelists using `uniq` to make sure not to duplicate when a whitelist isoform appears in more than one condition?

[2021-06-25 03:59] callumparr commented on #79
Ah related to the internal priming. Should we be more lenient if using direct RNA sequencing as biochemically I think it is harder for the RT to be primer internally as the RT priming is linked with the 3'-end OH ligation event of the split adapter?

[2021-06-25 17:17] fairliereese commented on #79
The pass list file includes the gene ID and the transcript ID that TALON uses internally to track genes and transcripts. You can get the union by `cat`ing all the output pass lists together and then calling `uniq` on that, yes.

I think this would make sense, though you know your assay best!

[2021-06-25 23:55] callumparr commented on #79
TY for your help. Much appreciated.

[2021-06-25 23:55] #79 closed

[2021-06-28 00:49] mei-du opened #80 "pybedtools error?"
Hi team, I've been able to run TALON with no problems at all on downsampled data. I've tried to run it several times on the full dataset which is located in a different area, but am facing errors after BAM merging, as shown in the attached txt file. Could you please provide some insight into this? Thanks!
[talon_ont.txt](https://github.com/mortazavilab/TALON/files/6722572/talon_ont.txt)

[2021-07-13 06:21] mei-du commented on #80
no longer received this error when changing my pybedtools temp directory

[2021-07-13 06:21] #80 closed

[2021-08-31 08:54] hd00ljy opened #82 "Many GENCODE transcripts are missing in talon_create_GTF output"
I have two sets of samples, A and B

After I discover novel isoforms in sample set A,
I want to quantify them in sample set B,  together with known GENCODE transcripts.

In order to do that,
I need a GTF file consisting of entire known GENCODE transcripts + novel transcripts(named TALONT~) from sample set A

But when I generated gtf after running talon on sample set A,
I found out that many knwon

[2021-08-31 18:10] fairliereese commented on #82
Hi there! If you're using a pass list from your filtering to make the GTF (which you are!), the _only_ transcripts that will make it into the resultant GTF are those that passed filtering. From your `talon_filter_transcripts` call, since you passed a specific list of datasets, TALON's behavior is to only output the transcripts that are present in one of those datasets, which is typically a subset

[2021-09-01 00:03] hd00ljy commented on #82
Thank you for the answer!

Then is there a way to get a gtf file of total(unfiltered) GENCODE transcripts + filtered novel transcripts that are properly sorted?

[2021-09-01 00:55] fairliereese commented on #82
Unfortunately there isn't a way to do it as the tool currently exists. However, here's some workaround Python code to generate a filtered pass list that contains all the annotated models as well as the novel models that passed filtering. You can use the output csv from this code to generate your GTF!

[code]

Let me know if this works for you!

[2021-09-01 12:09] hd00ljy commented on #82
Thank you for writing the python script code!
It seems to work for me!

[2021-09-01 12:09] #82 closed

[2021-09-13 06:03] hd00ljy opened #84 "Does TALON provide junction tolerance parameter?"
Does TALON provide a junction tolerance parameter?

Since the long read RNA-seq data usually have high error rates, clustering reads with splice junctions at similar but not identical positions may actually come from the same isoform.

As far as I checked, TALON provides 5' and 3' parameters in but it seems to be tolerance for TSS and TES.

Please let me know if I missed something.

[2021-09-14 09:01] callumparr commented on #40
@dewyman

May I confirm with you that there is a hard upper limit on the number of datasets (two) that can be passed to talon_generate_report tool?

I ran TALON through my datasets, with 8 different conditions and around 3 to 4 biological replicates per condition. Should I run this several times or is there a way to pass more datasets?

[2021-09-14 21:29] fairliereese commented on #84
Hi there, great question!

TALON trusts the splice junctions found in the mapped input SAM files and does not attempt to correct them. Internally, our group uses a preprocessing tool called [TranscriptClean](https://github.com/mortazavilab/TranscriptClean) that was designed to clean up common long-read sequencing errors, such as problems with the splice junctions. Running a tool such as this one b

[2021-09-14 21:31] fairliereese commented on #40
Hi there,

I haven't personally run this tool before but after looking at the code, it looks like it unfortunately only accepts one dataset. I think the easiest workaround would be to run it multiple times!

[2021-09-14 23:57] hd00ljy commented on #84
Thank you for your comments! I'll try those tools.

[2021-09-14 23:57] #84 closed

[2021-09-15 06:01] callumparr commented on #40
TY will do this.

[2021-09-15 07:47] callumparr opened #85 "talon_summarize but on filtered results."
Is there a similar tabulation like talon_summarize but on the filtered results in the talon_abundance outputs? I would like to get an idea of the classes of transcripts discovered for each of the datasets but not counting things that are filtered out.

[2021-09-15 17:45] fairliereese commented on #85
Hi,

Currently `talon_summarize` is not compatible with filtering pass lists. I typically calculate the same sort of statistics by generating a filtered abundance file and using table operations in Python or R to count up the different classes of transcripts or genes.

[2021-10-11 05:51] callumparr opened #86 "Issues with some plotting scripts in 2020 paper"
Sorry I raised some issues in the different repository but wasn't sure if they'd be better linked to here as well.

Is there any plans to release docker of the analysis and plotting scripts because I had some issues with versions of python, R and various module, packages.

If you can help with these issues in anyway it be much appreciated. I've also tried running the two plotting scripts on exampl

[2021-10-12 18:34] fairliereese commented on #86
Hi,

There are no plans to do so. I can try to help with your individual issues though on the repo. As an aside, the existence of the repo was more of a reference for ourselves which hopefully explains why it doesn't seem to be so user friendly, so I apologize for that. I'll look into your issues on the other repo though.

[2021-10-12 18:34] #86 closed, assigned to nobody

[2021-10-13 03:35] callumparr commented on #85
thank you for your reply and help

[2021-10-13 03:35] callumparr commented on #86
Thank you very much!

[2021-11-01 03:50] mei-du opened #87 "using existing tmp files"
Hi, I've been having a lot of difficulties running TALON successfully on my very large dataset. After 3 days, I got all tmp files except `abundance_tuples.tsv`. Another whole day passed but there were no visible changes to the tmp files or any other output files. I'm not sure if this means that the jobs have actually finished.

I've so far altered `talon.py` to keep and use `interval_files`, which

[2021-11-01 05:51] mei-du commented on #87
Just checked my reference GTF and it doesn't have missing/'None' strand values, and I don't have the same problem as in #65. Will investigate in DB browser

[2021-11-22 12:46] SziKayLeung opened #88 "Error with talon_create_GTF"
Hello,

Thank you for creating TALON! It's been really useful, however, I've been getting a final error creating the gtf:

`talon_create_GTF -db $WKD/mm10_talon.db --whitelist filtered_transcripts.csv -a mm10_annot --build mm10 --o ONTTargeted
Traceback (most recent call last):
  File "/lustre/home/sl693/.conda/envs/sqanti2_py3/bin/talon_create_GTF", line 8, in <module>
    sys.exit(main())
  File

[2021-11-22 15:12] SziKayLeung commented on #88
Sorry, just realised I'm missing "-" at the -db. A dumb mistake but easy fix!

[2021-11-22 15:12] #88 closed

[2021-12-03 05:35] fairliereese commented on #87
Hi there,

I have been running TALON on large datasets recently and I usually am able to get around these issues by running it on subsets of the data in succession.

[2021-12-09 03:47] xiaonalu opened #89 "specific genome ref"
Hi, Is there a specific genome ref works for TALON? I used the GRCm39 and GRCm38 of mouse, both received similar error as below.
KeyError: 'chr16 not in GCF_000001635.27_GRCm39_genomic.fa.'
KeyError: 'chr14 not in GCF_000001635.27_GRCm39_genomic.fa.'

Thanks

[2021-12-09 12:47] xiaonalu opened #90 "memory requirement"
Hi, how much memory is needed to run the TALON? I requested --cpus-per-task=8 --mem-per-cpu=5G, but received free():invalid next size (normal) error. or any other reason for this error? Thanks
Best
Xiaona

[2021-12-10 16:42] fairliereese commented on #89
This sounds like a mismatch between the chromosome names that are in your input SAM files and your reference GTF. Please check to make sure they are formatted the same way!

[2021-12-10 16:44] fairliereese commented on #90
I would recommend using more memory than 5GB but this requirement also depends on how big the dataset you're analyzing is. How many reads do you have?

I have recently been running TALON with 128GB of memory, for reference.

[2021-12-13 07:54] JD12138 opened #91 "ValueError: Annotation name 'aranno' not found in this database. Try one of the following:"
Hello TALON group,
After running your program I get this message:
**ValueError: Annotation name 'aranno' not found in this database. Try one of the following:**

'aranno' is the name that I use when I create the database with talon_initialize_database. And I use the same name in talon_abundance.
I think there are no annotation name in my database because the "Try one of the following" is null.
The

[2021-12-13 21:41] fairliereese commented on #91
Hi,

Are you sure TALON finished running to completion? My first thought is that it might be empty. Can you check your output files to ensure that it finished running?

[2021-12-21 00:36] abrantesas opened #92 "talon says my files dont exist"
Hi, thanks for making this software available! Any help is appreciated!

 I call Talon like this:

talon  --f ./03analysis/talon/TALONconfig.csv \
       --db ./03analysis/talon/lr2020talon.db \
       --build hg38 -t 8 \
       --o lr2020

and I immediately get this error:

Traceback (most recent call last):
  File "/nas/longleaf/home/abrantes/modules/anaconda2/envs/longread2020/bin/talon", line

[2022-01-04 18:24] fairliereese commented on #92
Hi, is it possible that your sam files are symlinked?

[2022-01-14 14:56] abrantesas commented on #92
I don't think so. The files were created by talon_label_reads according to the tutorial here.

[2022-01-14 18:23] fairliereese commented on #92
Did you try to `ls` the file that TALON allegedly can't find in your bash terminal? It's certainly worth double checking.

[2022-01-18 16:10] callumparr opened #93 "What reference to use?"
I am currently starting with some full-length cDNA-PCR reads from Nanopore that have been mapped to hg38 using minimap2 in stranded manner.

The hg38.fa files I downloaded from UCSC contain "alt" assemblies and at first I thought perhaps this is not an issue. The original mappings mostly align to the major chr assemblies but after TALON I can see vast majority of read annotations coming from "alt"

[2022-01-21 04:52] abrantesas commented on #92
I have never worked with symbolic links so I am not sure what I am looking for. If I run ls -hs in the folder I see the labeled.sam file and the read_labels.tsv and that they are 9.4G and 113M in size.

[2022-01-21 05:02] fairliereese commented on #92
Can you use the absolute path that's in your config file instead of just relying on relative paths? It would help if you send me your config file.

[2022-01-21 05:22] fairliereese commented on #93
If you don't want a lot of these extra chromosomes, you might want to consider mapping to a version of the reference that excludes these scaffolds.

Maybe try the reference that ENCODE uses, which should have far fewer (if any) alt chromosomes: https://www.encodeproject.org/files/GRCh38_no_alt_analysis_set_GCA_000001405.15/

[2022-01-21 10:59] callumparr commented on #93
Thank you for your reply. I understand better now. Sorry for a noob question is there a corresponding annotation file to use with this or would gencode.v37 or v39 be OK to use?

[2022-01-21 13:58] abrantesas commented on #92
[TALONconfig.csv](https://github.com/mortazavilab/TALON/files/7914150/TALONconfig.csv)

Thanks for the help. What do you mean by that? If I type "ls /nas/depts/007/sullilab/shared/longread_2020/03analysis/talon/labeled/pt_043_001/pt_043_001_labeled.sam" the console just echoes /nas/depts/007/sullilab/shared/longread_2020/03analysis/talon/labeled/pt_043_001/pt_043_001_labeled.sam

[2022-01-21 17:51] fairliereese commented on #92
What you mention in that post is exactly what I meant. I just wanted to make sure you had absolute paths listed in your config file.

Now that I'm confident that your file indeed exists, I'm wondering if you're trying to run TALON on a cluster as a job where perhaps the compute nodes do not have access to where you've stored the file. This has happened to me in the past and is really the only expl

[2022-01-21 17:53] fairliereese commented on #93
Good question. All annotations assume a specific version of the reference genome. But since there are more releases of the annotations than reference genome, many annotations are compatible with the same genome. If you look at the [GENCODE annotation release history](https://www.gencodegenes.org/human/releases.html) under the "Genome assembly version", you'll see that both 39 and 37 are built on G

[2022-01-25 15:06] rsalz opened #94 "PacBio isoseq to talon: best practices"
Hi

**disclaimer, my question requires knowledge of isoseq: https://github.com/PacificBiosciences/IsoSeq/blob/master/isoseq-clustering.md

I did not see it specified in your documentation best practices of going from Isoseq to TALON (although I imagine many do this). The issue lies in the abundance. At the end of the isoseq pipeline, a full set of cleaned/clustered reads is returned with '.polishe

[2022-01-28 02:18] fairliereese commented on #94
Hi there,
For use with TALON, we run the IsoSeq pipeline through Refine but no further according to the steps outlined in [this document](https://www.encodeproject.org/documents/6d583a1d-d692-4511-b13b-c051822d861c/). I hope this helps!

[2022-01-28 15:04] rsalz commented on #94
This is so helpful, thank you!! I have spent quite a bit of time examining the document and i have 2 follow up questions.

First, is there a reason you use `--ccs` instead of `--isoseq` in the lima step? I actually can't find a whole lot of information about how those are different and I'm wondering about why you chose what you did.
Second, I have been thusfar running TranscriptClean without the a

[2022-01-31 20:06] fairliereese commented on #94
Great, glad it was helpful!

After looking into it, it actually looks like this document is a bit outdated. We have since switched to using the `--isoseq` option. I also cannot find too much information about what the differences are, so can't offer much insight into that.

With regards to TranscriptClean, I would indeed use the splice junctions from the reference GTF. The `--canonOnly` argument w

[2022-02-01 09:01] rsalz commented on #94
Okay thanks!

[2022-02-01 09:01] #94 closed

[2022-03-01 01:46] #93 closed

[2022-03-08 21:46] calhoujd opened #95 "RuntimeError: Discrepancy found in database. Discarding changes to database and exiting"
Hi,

I've been using TALON for awhile now and have had mostly really good luck with it. But I've run into an issue recently that I'm having trouble solving and would appreciate any help. I ran a single long read sample on our HPC and after running for ~3 days and generating quite a few tmp files, TALON crashed with the following error:

`[ 2022-03-06 21:55:35 ] All jobs complete. Starting database

[2022-03-14 13:13] #95 closed

[2022-03-22 19:52] niradsp commented on #90
Hello,
How can I control memory?  I have 42 samples, and the program seems to be using 400 GB memory, and counting.

Thanks in advance,
Nirad

[2022-03-23 14:44] calhoujd opened #96 "Mostly novel transcripts for genes (mm10/hg38)"
Dear TALON group,

Our lab has been using TALON to analyze a few long read transcriptome datasets (both mouse and human). We've been noticing that for some of the genes we are interested in, TALON assigns the correct gene name, but the overwhelming majority of reads are labeled as novel transcripts. While we expect to identify novel transcripts as we know the Gencode annotation for these genes is

[2022-03-25 03:57] callumparr commented on #96
When you salmon is assigning reads to known transcripts is that running salmon with the expanded transcriptome/annotation output from TALON or the original reference transcriptome from gencode/ensembl?

Salmon make its best attempt to align to reference however of course there could well be a superior alignment but not yet seen in the reference (hence using TALON).

I also see many, many novel tra

[2022-03-25 04:00] callumparr commented on #90
After initializing the database, you can run your samples in batches with TALON, albeit they are going into the same database using the same genome build.

You could say run 10 samples at once, or run some other grouping that makes sense for your project (i.e. all replicates for each biological sample)

[2022-03-25 12:04] niradsp commented on #90
Thank you.  That is exactly what I ended up doing.  My memory footprint is much lower now.
I have another question, but this time about reusing the database in question.
If I have both PacBio and Nanopore samples (each has 42 samples, and these are the same samples), how should I go about doing this?  I want obviously a unified list of novel transcript IDs.  For example, Talon0001 in Nanopore shou

[2022-03-25 16:13] fairliereese commented on #90
Thank you @callumparr, your advice is spot on! This is how we have been running our data through TALON as well. It's a bit of a slog, but it works.

With regards to this question, hypothetically it doesn't make a difference. If you're running your data through the same database, you'll end up with novel transcript IDs that can be compared across any samples in the database. However TALON does choo

[2022-03-25 16:22] fairliereese commented on #96
While I agree with @callumparr that filtering might help alleviate the high number of novel transcripts, I do think it is odd that the majority of your _reads_ are novel. If you wouldn't mind, it would indeed be helpful if you could point me to the dataset you're using, as well as your scripts.

If you also have it, a breakdown of the read count per novelty category would be great. You can get thi

[2022-03-30 17:21] calhoujd commented on #96
Hi @callumparr,

I have been using the standard genome reference for salmon rather than the expanded TALON reference. My problem is that even without filtering, all but ~6 reads are considered novel transcripts. Filtering might improve slightly the ratio of novel/known, but I have so few known to begin with that something seems a bit off.

Take care,

Jeff

[2022-03-30 17:27] calhoujd commented on #96
Hi @fairliereese,

Thank you for offering to investigate this. One of the datasets I am using is the long-read transcriptome data from the scisorseqr publication (github link: https://github.com/noush-joglekar/scisorseqr). I am happy to share files. Do you have a preference of GoogleDrive or OneDrive? I used to use Box but our institution recently switched to OneDrive. Also, would you please provi

[2022-04-01 21:41] jchariker opened #97 "Optimal setting to identify alternate 3' and 5' ends"
Hi,
I'm interested in identifying alternate 3' and 5' ends of transcripts. What would be the best settings for this? I see the options --5p and --3p in talon_initialize_database, but I'm not quite sure what effect they have.
Thanks!

[2022-04-05 00:33] fairliereese commented on #97
The `--3p` and `--5p` parameters tune the maximum distance that an end observed from a read can be from the annotated end for the read to still be annotated as a known transcript. If a read matches the intron chain of an annotated transcript but the ends of the read are not within the distance parameters, it will be annotated as a novel transcript. In contrast, a read with the same intron chain wi

[2022-04-15 10:02] callumparr opened #98 "Many reads fail QC during TALON run but meet primary, coverage, and identity filters"
Using TALON v5 installed `python setup.py install` on HPC running Debian

Using `python version 3.6.7`

[code]

I kept the default 0.9 fraction alignment and 0.8 identity defaults

I was routing through the TALON QC log file because we are seeing many reads filtered out despite using cap-trap and oligo-dT alignment so sure we have good quality data. I actually found a potential issue that may acco

[2022-04-20 21:03] detrout opened #99 "Wrong syntax for python type annotations"
Hi,

I was reading through talon_label_reads.py and noticed it was using the wrong syntax for type annotations.

Officially https://docs.python.org/3/library/typing.html it's supposed to be `function(parameter: type):`. What's in the file is `function(parameter=type):` which is assigning the type as a default value for the function and is probably not what is desired.

Mostly the = should be  repl

[2022-04-20 21:39] detrout opened #100 "test failures on the development branch "argument "ascending" expected type bool, received type str.""
While running tests on the development branch with these software versions;

attrs==21.4.0,iniconfig==1.1.1,numpy==1.22.3,packaging==21.3,pandas==1.4.2,pluggy==1.0.0,py==1.11.0,pybedtools==0.9.0,pyfaidx==0.6.4,pyparsing==3.0.8,pysam==0.15.4,pytest==7.1.1,python-dateutil==2.8.2,pytz==2022.1,six==1.16.0,talon @ file:///woldlab/loxcyc/home/diane/proj/talon/.tox/.tmp/package/1/talon-5.0.zip,tomli==2.0

[2022-04-20 23:40] fairliereese commented on #98
Your intuition that internal priming / the reproducibility filter should not be affecting these numbers is correct.

I'm looking into it otherwise. I've checked a log file that I have lying around and have found something similar :/ It does not seem to me that this should be happening. I will update you when I have found anything.

[2022-04-21 03:23] callumparr commented on #98
Thank you for the reply and for looking into it. When I have the time I will look into this type of read failing and read characteristics.

[2022-04-21 16:17] fairliereese commented on #98
If you're also planning to look into it on your end, here's some code that might be useful as a starting point: https://github.com/fairliereese/220421_talon_debug/blob/master/check_talon_log.ipynb

[2022-04-26 23:36] kwells4 opened #103 "Inconsistent mapping in multiple Talon runs"
# Description of problem

Thanks for writing this great tool!

I've been trying to run `Talon` on a promethion run with 3 samples. Overall, I have about 100G of data but am mostly running into trouble because there is about 42G of data on chromosome 7 (Insulin in the pancreas is a bit of a problem).

To get around this, I am running `Talon` in pieces as suggested in #87 and using the development b

[2022-04-27 18:13] fairliereese commented on #103
Hi there,

I'm pretty puzzled by what you're seeing as well, but I think there might be explanations for some of the inconsistencies. I think your best bet to diagnose what's going on is to make a genome browser plot of your read and the transcript models that are called by each of your TALON runs (ie for the subsetting approach and the full dataset approach).

TALON does exhibit some stochasticit

[2022-04-28 00:32] kwells4 commented on #103
Thanks for the detailed and fast respose!

I was wondering if the order reads were processed would change the results. I did notice some of that behavior where the transcripts were annotated differently in my different runs.

For this specific example, I have plotted three tracks, one from each of the bam files used in my processing pipeline. All tracks look identical and actually map to the Cox6c

[2022-04-28 00:32] #103 closed

[2022-05-04 10:01] ew367 opened #104 "removing sample(s) from the talon database"
Hi

How does talon process datasets that have only partially been added to the input database?  When running talon again using the same config file and input databse will it continue from part way through the partial dataset, or skip the dataset since part of it is already present? My HPC job was interrupted during processing and I want to know how I can tell whether the sample that was being adde

[2022-05-04 10:11] callumparr commented on #104
Also interested to know. When this happened I just deleted the database and initialize a new one as there isn’t a —resume flag.

[2022-05-04 10:15] ew367 commented on #104
Yes, that has been my approach in the past too, but my new dataset is HUGE and had already been running for nearly 2 weeks before the interruption so I really don't want to do that this time!

[2022-05-05 17:07] fairliereese commented on #104
You can use this python code to check if the dataset has been added to your database:

[code]

TALON is pretty good about discarding or not pushing incomplete changes to the database but this is not a surefire method. What I typically do is I make a backup copy of my TALON database before trying to add new datasets to it. That way, if the run fails, I can simply restart using the backup. I'm sorry

[2022-05-05 17:14] callumparr commented on #104
That's simple and ingenious. Not sure why I did not think to do that. TY for replies as always.

[2022-05-11 04:44] callumparr opened #105 "Allowing Genomic category"
We have prepared our full-length RNAseq samples using a cap-trapping protocol along with oligo-dT priming on polyadenylated total RNA. We hope to try and identify transcript models for actively transcribed RNAs from enhancers. As these may be located within clusters within intronic regions I wanted to permit Genomic novelty and use CAGE evidence to provide further evidence they are genuine transcr

[2022-05-14 01:28] fairliereese commented on #105
1. This actually ties into question number 4: many genomic reads that I've seen in long-read data are short, unspliced reads (that are not simply a result of an intron retention event), and therefore are largely uninformative as transcript models. As an example, in my case we see lots and lots and lots of genomic transcripts and reads from our single-nucleus long read approaches which we believe h

[2022-05-16 07:12] callumparr commented on #105
Thanks for your reply.  Regarding what I am looking for, we are interested in generating some transcript models for RNA transcribed from enhancers regions during the differentiation of iPSC to neurons. I was told many enhancer regions are found within introns of coding and non-coding regions therefore they will overlap with known gene loci from gencode/Ensembl annotations but also not share any sp

[2022-05-17 19:02] fairliereese commented on #105
In that case, I'd recommend taking your unfiltered abundance matrix and grabbing IDs for transcripts that are genomic and simply concatenating those IDs with an existing filtered pass list from TALON that you have. Here's some code to start:
[code]

You can also modulate this call based on the expression of each isoform using the last columns of the abundance file, if you wish. But the output pass

[2022-05-17 19:02] #96 closed

[2022-05-17 19:03] #90 closed

[2022-05-17 19:03] #89 closed

[2022-05-18 05:34] callumparr commented on #105
Thank you I will try this.

[2022-05-18 05:34] #105 closed

[2022-05-19 08:02] callumparr commented on #98
I looked into it a bit more and I am still at a loss why some reads are failing. This was consistent across multiple samples although all processed the same so there is the possibility I am doing something weird.

[2022-06-15 15:58] YichaoOU commented on #97
Hi @[fairliereese](https://github.com/fairliereese), can you provide more details on how to use `lapa`?

It seems that we should use `lapa_correct_talon` instead of `lapa`? Once we have the gtf from lapa, we need to run talon to quantify abundance again, right?

Thanks,
Yichao

[2022-06-15 16:30] fairliereese commented on #97
These are questions best suited for the lapa repo. I would ask again there.

[2022-06-21 04:06] #99 closed

[2022-07-12 14:29] gabee-chan opened #106 "ValueError: Exons of transcript are not stored in ascending order."
Hi!! I'm trying to run the command `talon_initialize_database` with a GTF with only exons. I first use the command `talon_reformat_gtf` to format the GTF. Then, when I try running the `talon_initialize_database` I got the Error that the exons of the first transcript are not in ascending order but they are... Here is the exact error:
`Traceback (most recent call last):
  File "/share/ClusterShare/b

[2022-07-16 16:40] fairliereese commented on #106
Hi there, would you mind hosting the GTF somewhere I can take download it? I will take a look and get back to you. My email is freese@uci.edu.

[2022-07-18 15:45] fairliereese commented on #106
Actually, I didn't read your issue closely enough -- I see now that you're trying to use TALON on a GTF that has only exons. TALON does not natively support this but we do have a script that you can use to add gene and transcript entries to your GTF before running TALON. You can look for details on the script and how to run it [here](https://github.com/mortazavilab/TALON/wiki/Formatting-a-GTF-anno

[2022-07-19 01:53] gabee-chan commented on #106
Hi! Yes, as mentioned in the first post I used the `talon_reformat_gtf` for my GTF with only exons and get the GTF from the screenshot and I get the mentioned error. I emailed you the GTF with only exons in case the error starts from my GTF format.

Thanks!

[2022-07-19 02:13] fairliereese commented on #106
Oh my gosh. I'm so sorry 🤦 I'll take another look into it. I should be able to get some code to you that will fix it.

[2022-07-19 03:51] Seamonkey28 commented on #56
Hi,

I am coming up with the same error (KeyError: 'gene_novelty') when running talon_annotate. I am using the gencode.v40lift37.annotation.gtf. @dewyman suggested editing the gtf file to remove all 'other' categories. I'm not quite sure how to do this...and that means I will have to run all the previous steps right, starting from creating the database.

[2022-07-19 04:57] fairliereese commented on #56
Unfortunately yes, this does mean you'd need to reinitialize your database. But I can provide you some code to remove the GTF tags that are confusing TALON (as mentioned above, the `gene_status` and `transcript_status` tags.

[code]

[2022-07-19 19:40] fairliereese commented on #106
Ok so actually, your exons are indeed not stored in ascending order. And I'm not sure how you can fix this because essentially you have exons within the same transcript that overlap other exons in the genes. I'm not sure how you made this GTF because this shouldn't be possible, as far as I am aware. This happens in multiple transcripts that you sent me. Here are some problematic coordinates to loo

[2022-08-08 04:46] gabee-chan commented on #106
Hi, thanks for the help! I was able to format the GTF and now is running.

[2022-08-08 04:46] #106 closed

[2022-08-15 15:15] callumparr opened #107 "many novel isoforms of very short, even 1bp"
I may overlooked this but I am seeing many TALON novel isoforms that seem illogical short. I was wondering first how this could come to be as the alignment themselves are longer is this like where you have fuzziness from lots of reads overlapping and TALON is trying to collapse this into an average 5'-start which is somewhere in the middle of the overlap window and same for the 3'-end.

Secondly i

[2022-08-19 11:58] yeroslaviz opened #108 "missing temporary bam files"
When running talon with my three samples i get the following error:

[code]

The config file looks like that

[code]

CanI control the place where temporary files are written? Or how do I debug this problem?

thanks

Assa

[2022-08-28 12:02] callumparr commented on #82
This python script will create a new list of gene and transcripts IDs as they are known within TALON database for your filtered whitelist and then the observed BUT not filtered transcripts from the unfiltered abundance file. That is there must be a least one documented reads assigned to that transcript with the TALON database.

If you want to create a GTF that has every existing annotated transcri

[2022-08-28 18:20] fairliereese commented on #82
You're absolutely right; not sure why I provided the code that I did as the answer. Here's an updated version of the Python code to _actually_ accomplish this:

[code]

[2022-08-29 04:02] callumparr commented on #82
Sorry to bring up an old closed feed but I was trying and failing to do this myself. As planning to use GTF on new samples wanted to have all existing gencode plus novel transcripts in one file to make things easier.

[2022-08-29 05:00] callumparr commented on #82
I added additiona line to drop the duplicates as the pass_list I have includes some filtered gencode annotations

`>>> df.drop_duplicates(inplace=True)`

Thank you for the script is very useful.

[2022-08-31 12:27] callumparr opened #109 "How to run downstream differential analysis with an expanded transcriptome generated by TALON."
I was wondering what was your general workflow for working with an expanded annotation from TALON for general differential gene and transcript expression analysis.

After generating an expanded annotation working with human gencode v39 annotation I have the raw abundances of the reads that are aligned during the TALON database generation. I saw there is a way to directly import results from TALON

[2022-09-28 09:52] asipal opened #110 "Key Error: "gene novelty""
Hey, when I try to run talon_abundance I keep getting this error:

Warning: Could not locate novelty type for gene 40427
Warning: Could not locate novelty type for transcript 108132
Traceback (most recent call last):
  File "/home/ia1014/anaconda3/bin/talon_abundance", line 8, in <module>
    sys.exit(main())
  File "/home/ia1014/anaconda3/lib/python3.9/site-packages/talon/post/create_abundance_fi

[2022-09-30 13:10] rb520826 commented on #104
Hi, thanks for the above suggestions. I am also interested in the removal of a sample from the database - was there any update to whether this is possible please?

Thanks!

[2022-11-07 18:51] #55 closed

[2022-11-07 19:09] fairliereese commented on #109
I actually haven't tried this experiment before, and I'm not sure why fewer of your reads would be mapping with the expanded transcriptome versus just GENCODE. I would double / triple check that all the GENCODE transcripts made it in to your annotation as I know from experience that working with / merging GTFs can be quite tricky.

Either way, when I do DE testing I just use the native GTF / abund

[2022-11-07 19:22] #67 closed

[2022-11-07 19:23] #72 closed

[2022-11-07 19:23] #73 closed

[2022-11-07 19:24] #74 closed

[2022-11-07 19:26] #76 closed

[2022-11-07 19:27] #78 closed

[2022-11-07 19:28] #87 closed

[2022-11-07 19:28] #91 closed

[2022-11-07 19:28] #92 closed

[2022-11-07 19:28] #97 closed

[2022-11-07 19:29] #100 closed

[2022-11-07 19:32] fairliereese commented on #108
Hi,

Can you try using the `--tmpDir <your temporary directory>` argument when running TALON? You may have to install the latest commits.

[2022-11-07 19:32] fairliereese commented on #107
This is a phenomenon we've noticed in the past, and I'm not sure why we get isoforms that are so short. I think it would be wise to discard such short isoforms!

[2022-11-07 19:35] fairliereese commented on #110
Hmmm, it seems like TALON might not have exited correctly when you ran it. Do you have a log file from your actual TALON run? Could you check it for errors or warnings that might indicate that something went wrong?

[2022-11-07 21:33] ConnorBarnhill commented on #73
Also having this issue

[2022-11-08 00:18] rkyger-git commented on #91
Hello fairliereese,

I ran into this same issue above, when trying to run either **talon_filter_transcripts** or **talon_abundance**.
Neither my .db file, nor the output files from the previous step ("Running TALON"), are empty.
Do you know what might be causing the problem?

[2022-11-08 01:41] rkyger-git opened #112 "Annotation name not found"
Hello fairliereese,

I ran into the same issue in this closed thread (https://github.com/mortazavilab/TALON/issues/91), when trying to run either **talon_filter_transcripts** or **talon_abundance**.
Neither my .db file, nor the output files from the previous step ("Running TALON"), are empty.
Do you know what might be causing the problem?

_Originally posted by @rkyger-git in https://github.com/mo

[2022-11-08 01:47] fairliereese commented on #112
Could you please provide the calls you made to TALON and the filtering / abundance utilities that caused this error? Thanks!

[2022-11-08 02:34] rkyger-git commented on #112
Yes, the code used was:

**talon_initialize_database --f A103.gtf --g a103 --a a103_rna --o A103**

**talon --t 64 --f config.talon --db A103.db --build a103 --o A103_out**

**talon_filter_transcripts --db A103.db -a a103_rna --o A103_talon_filt_trans**

[2022-11-08 21:23] ConnorBarnhill opened #113 "Error when using non-human GTF"
Hello,

I'm trying to run TALON on PacBio data from a non-human primate (using [this](https://hgdownload.soe.ucsc.edu/hubs/GCF/012/559/485/GCF_012559485.2/genes/GCF_012559485.2_MFA1912RKSv2.ncbiRefSeq.gtf.gz) gtf file, parent directory [here](https://hgdownload.soe.ucsc.edu/hubs/GCF/012/559/485/GCF_012559485.2/genes/)). I'm able to initialize the database, label the reads, and run the talon comman

[2022-11-15 12:20] #109 closed

[2022-11-30 18:46] fairliereese commented on #108
This problem should be solved by 15790fb96f6eb0d045bfb13be08c90df90feda37.

[2022-11-30 18:46] #108 closed